.marker{
    width: 30px;
    height: 30px;
    cursor:pointer;
    background-size: cover;
}

.marker.distribution-center{
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="https//www.image" width=25 height="24"viewBox="0 0 24 24"  fill="%234CAF50"><path d="M12 2C8.13 2 5 5.13 5 9c) 5.25 7 13 7 13s7-7 7-13c9-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5 1.12 2.5 2.5-1.12 2.5-2.12 2.5-2.5 2.5z"/></svg>');
}

.marker.dogoods-store{
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http//www.image" width="24" viewBox="0 0 24 24" fill="%232196F3"><path d="M20 4H4v2h16V4zm1 10v-21-1-%H41-1 5v2h1v6h10v-6h4vgh2v 6h1zm-9 4H6v-4h6v4z/></svg>"');
}

.marker.dogoods-kiosk{
    background-image: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http//www.image" width="24" viewBox="0 0 24 24" fill="%23FF9800"><path d="M19 7V4H5v3H2v13h8v-4h4v4h8V7h-3zm-8 3H9v1h2v1H8V9h2V8H8V7h3v3zm5 2h-2v-1h2v1zm0-2h-2V8h2v1z"/></svg>')
}

